# Jeopardy Bot

### First Task

- Create lists that contain questions, answers, and values, divided by round and by category.

In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()
api.dataset_download_files('tunguz/200000-jeopardy-questions', unzip=True)

In [2]:
import pickle

In [3]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
df = pd.read_csv("JEOPARDY_CSV.csv")

In [4]:
df.rename(columns = {column_name : column_name.strip() for column_name in df.columns}, inplace = True)
df["Value"] = df.apply(lambda row: float(row["Value"].strip("$").replace(",", "")) if row["Value"] != "None" else 0, axis = 1)
df["data"] = df.apply(lambda row: (row["Value"], row["Question"], row["Answer"]), axis = 1)
print(df.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  200.0
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  200.0
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  200.0
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  200.0
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  200.0

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer  \
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

                                                                                                                               data
0             (200.0, For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory, Copernicus)
1  (200.0, No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves, Jim Thorpe)
2                        (200.0, The city of Yuma in this state has a record average of 4,055 hours of sunshine each year, Arizona)
3                         (200.0, In 1963, live on "The Art Linkletter Show", this company served its billionth burger, McDonald's)
4     (200.0, Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States, John Adams)

In [5]:
round_questions = lambda round_questions: {
    category: df[df["Category"] == category]["data"].values.tolist()
    for category in df[df["Round"] == round_questions].Category.unique()
    }

jeopardy_questions = round_questions("Jeopardy!")

In [6]:
double_jeopardy_questions = round_questions("Double Jeopardy!")

In [7]:
final_jeopardy_questions = round_questions("Final Jeopardy!")

In [8]:
tiebreaker_questions = round_questions("Tiebreaker")

In [9]:
pickle.dump(jeopardy_questions, open("jeopardy_questions.p", "wb"))
pickle.dump(double_jeopardy_questions, open("double_jeopardy_questions.p", "wb"))
pickle.dump(final_jeopardy_questions, open("final_jeopardy_questions.p", "wb"))
pickle.dump(tiebreaker_questions, open("tiebreaker_questions.p", "wb"))